{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="card">
	<div class="card-header">
		Cadastrar Feriado
	</div>
	<div class="card-body">
		<form method="POST"> {% csrf_token %}
			<div class="row">
				<div class="col-12">
					{{ form.nome|bootstrap }}
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					{{ form.data|bootstrap }}	
				</div>
			</div>
			<div class="text-right">
				<button class="btn btn-success">Salvar</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}