{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nv.d3.css' %}">
{% endblock extra_css %}

{% block content %}
	<h2>Andamento dos Produtos</h2>
	<div id="chart">
	    <svg style='height: 500px; width: 90%;'></svg>
	</div>

	<div class="col-md-4">
                                        <div class="main-card mb-3 card"><img width="100%" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=318%C3%97180&amp;w=318&amp;h=180" alt="Card image cap" class="card-img-top">
                                            <div class="card-body"><h5 class="card-title">Card title</h5><h6 class="card-subtitle">Card subtitle</h6>Some quick example text to build on the card title and make up the bulk of the card's content.
                                                <button class="btn btn-secondary">Button</button>
                                            </div>
                                        </div>
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Card Title</h5>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                            <img width="100%" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=318%C3%97180&amp;w=318&amp;h=180" alt="Card image cap" class="card-img-bottom"></div>
                                    </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/d3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/nv.d3.js'%}"></script>

<script type="text/javascript">
//Regular pie chart example
nv.addGraph(function() {
  var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .showLabels(true);

    d3.select("#chart svg")
        .datum(chartData())
        .transition().duration(350)
        .call(chart)
        .color(['red', 'blue', 'green']);

  return chart;
});

//Pie chart example data. Note how there is only a single array of key-value pairs.
function chartData() {
  return  {{ data_chart|safe }};
}

</script>
{% endblock extra_js %}