{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nv.d3.css' %}">
{% endblock extra_css %}

{% block content %}
    <h2 class="text-center">Andamento das Linhas</h2>
    <div id="chart" class="text-rigth">
      <svg style='height: 500px; width: 90%;'></svg>
    </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/d3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/nv.d3.js'%}"></script>

<script type="text/javascript">
//Regular pie chart example
nv.addGraph(function() {
  var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .showLabels(true);

    d3.select("#chart svg")
        .datum(chartData())
        .transition().duration(350)
        .call(chart)
        .color(['red', 'blue', 'green']);

  return chart;
});

//Pie chart example data. Note how there is only a single array of key-value pairs.
function chartData() {
  return  {{ data_chart|safe }};
}

</script>
{% endblock extra_js %}