{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="card bg-white col-12 text-dark d-block h-50">
            <div class="card-body text-center">
              <h1>SLIDESHOW DA PRODUÇÃO</h1>
              <img src="{% static 'images/logo-latecoere.png' %}">
            </div>
        </div>
    </div>
    {% for obj in object_list %}
          <div class="carousel-item">
            {% if obj.media_atraso < 0 %}
                <div class="card bg-danger text-white mb-1">
            {% elif obj.media_atraso > 0 %}
                <div class="card bg-primary text-white mb-1">
            {% elif obj.media_atraso == 0 %}
                <div class="card bg-success text-white mb-1">
            {% else %}
                <div class="card bg-white text-dark mb-1">
            {% endif %}
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-block px-2">
                            <h1><i class="fas fa-plane"></i> {{ obj.aviao }}</h1>
                            <h1><i class="fas fa-parachute-box"></i> {{ obj.nome }}</h1>
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="{% static 'images/OW.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <h1 class="text-left">Postos de Trabalho</h1>
            <div class="row justify-content-start">
            {% for posto in obj.produtopostotrabalho_set.all %}
              {% if posto.media_atraso < 0 %}
              <div class="card bg-danger mt-2 mb-2 ml-2 mr-2 col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 text-white">
              {% elif posto.media_atraso > 0 %}
              <div class="card bg-primary mt-2 mb-2 ml-2 mr-2 col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 text-white">
              {% elif posto.media_atraso == 0 %}
              <div class="card bg-success mt-2 mb-2 ml-2 mr-2 col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 text-white">
              {% else %}
              <div class="card bg-white mt-2 mb-2 ml-2 mr-2 col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 text-dark">
              {% endif %}
                <div class="card-body">
                    <h6>{{ posto }}</h6>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
