<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Menu Principal</li>
            <li>
                <a href="{% url 'aviao_list' %}">
                    <i class="metismenu-icon fas fa-plane"></i>
                    Aviões (Range)
                </a>
            </li>
            <li>
                <a href="{% url 'produto_list' %}">
                    <i class="metismenu-icon fas fa-parachute-box"></i>
                    Produtos  (Linha)
                </a>
            </li>
            <li>
                <a href="{% url 'aviao_list' %}">
                    <i class="metismenu-icon fas fa-warehouse"></i>
                    Postos de Trabalho
                </a>
            </li>

            <li class="app-sidebar__heading">Outras Opções</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fas fa-chart-pie"></i>

                    Gráficos
                    <i class="metismenu-state-icon fas fa-chevron-up caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'aviao_grafico' %}">
                            </i>Andamento
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            </i>Produtos
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>