<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Titulo direto</li>
            <li>
                <a href="">
                    <i class="metismenu-icon fas fa-home"></i>
                    Home
                </a>                           
            </li>
            <li>
                <a href="dash.php">
                    <i class="metismenu-icon fas fa-plane"></i>
                    Link 2
                </a>
            </li>

            <li class="app-sidebar__heading">Titulo com Dropdown</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fas fa-plane"></i>

                    Dropdown Title
                    <i class="metismenu-state-icon fas fa-chevron-up caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="elements-buttons-standard.html">
                            <i class="metismenu-icon"></i>
                            Item 1
                        </a>
                    </li>
                    <li>
                        <a href="elements-dropdowns.html">
                            <i class="metismenu-icon">
                            </i>Item 2
                        </a>
                    </li>
                    <li>
                        <a href="elements-icons.html">
                            <i class="metismenu-icon">
                            </i>Item 3
                        </a>
                    </li>
                    <li>
                        <a href="elements-badges-labels.html">
                            <i class="metismenu-icon">
                            </i>Item 4
                        </a>
                    </li>
                    <li>
                        <a href="elements-cards.html">
                            <i class="metismenu-icon">
                            </i>Item 5
                        </a>
                    </li>
                    <li>
                        <a href="elements-list-group.html">
                            <i class="metismenu-icon">
                            </i>Item 6
                        </a>
                    </li>
                    <li>
                        <a href="elements-navigation.html">
                            <i class="metismenu-icon">
                            </i>Item 7
                        </a>
                    </li>
                    <li>
                        <a href="elements-utilities.html">
                            <i class="metismenu-icon">
                            </i>Item 8
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>