<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Menu Principal</li>
            <li>
                <a href="{% url 'aviao_list' %}">
                    <i class="metismenu-icon fas fa-plane"></i>
                    Ranges
                </a>
            </li>
            <li>
                <a href="{% url 'produto_list' %}">
                    <i class="metismenu-icon fas fa-parachute-box"></i>
                    Linhas
                </a>
            </li>
            <!-- <li>
                <a href="{% url 'aviao_list' %}">
                    <i class="metismenu-icon fas fa-warehouse"></i>
                    Postos de Trabalho
                </a>
            </li> -->

            <li class="app-sidebar__heading">Outras Opções</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fas fa-chart-pie"></i>
                    Gráficos
                    <i class="metismenu-state-icon fas fa-chevron-up caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'aviao_grafico' %}">
                            Andamento
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            Produtos
                        </a>
                    </li> -->
                </ul>
            </li>
            <li>
                <a href="{% url 'slideshow' %}">
                    <i class="metismenu-icon fas fa-tv"></i>
                    TV Mode
                </a>
            </li>
            <li>
                <a href="{% url 'feriado_list' %}">
                    <i class="metismenu-icon far fa-calendar-check"></i>
                    Feriados
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon fas fa-file-csv"></i>
                    Atualizar Dados
                </a>
            </li>
        </ul>
    </div>
</div>